/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  background-size: cover;
background-color: rgb(17, 17, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

}

/* FONDO */

canvas {
    display: block;
    position: absolute; /* Permite posicionar el canvas */
    top: 0; /* Coloca el canvas en la parte superior */
    left: 0; /* Coloca el canvas en la parte izquierda */
    z-index: -1; /* Envía el canvas al fondo */
}

/* Contenedor del logo (esquina superior derecha) */
.logo-container {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.logo-container img {
    width: 150px; /* Aumentado para que el logo sea más grande */
}

/* Contenedor de botones centrados */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Aumentado el espacio entre los botones */
}

/* Estilo de los botones de opción */
.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    margin: 10px;
    padding: 30px 60px; /* Aumentado el tamaño de los botones */
    border-radius: 15px; /* Sigue siendo un poco redondeado */
    width: 450px; /* Aumentado el ancho del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.option-button img {
    margin-right: 15px;
    width: 40px; 
}

.option-button span {
    font-size: 24px; /* Aumentado el tamaño del texto */
    font-weight: bold;
    color: #1a2f87; /* Color de texto */
}

.option-button:hover {
    background-color: #e0e0e0; /* Color ligeramente más claro al hacer hover */
}


