* {
  box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho y alto */
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  overflow: visible; /* Asegúrate de que todo el contenido sea visible */
}

/* Canvas */
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1; /* Detrás del contenido */
}


/* Otros estilos... */


.contenido {
  z-index: 2; /* un valor más alto que el fondo */

}



/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #4ce3f7; /* Light blue on hover */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .login, .auth-buttons .signup {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons .signup {
  background-color: #4ce3f7;
  color: #000;
}

.auth-buttons .login:hover, .auth-buttons .signup:hover {
  background-color: #4ce3f7;
  color: #000;
}








/* Contenedor general */
.container {
  width: 85%;
  margin: 0 auto;
}

/* Sección de información del proyecto */
.project-info {
  padding: 80px 0;
  background-color: #f8f9fa;
  text-align: center;
  color: #333;
}

.project-info h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000;
}

.project-info p {
  font-size: 1.2em;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.team-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.team-list li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.team-list li strong {
  color: wheat;
}

/* Imagen del proyecto */
.project-image {
  margin-top: 30px;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}




* {
  box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho y alto */
}



#centralbtn {
  display: block;             
  padding: 15px 40px;        
  font-size: 20px;           
  font-weight: 500;   
  cursor: pointer;     
  margin: 50px auto;  
  background-color: transparent; /* Fondo del botón */
  border: 1px solid #ffffff80; /* Borde del botón */
  border-radius: 8px;        
  color: #ffffff80; /* Color del texto */
  transition: background-color 0.3s, border-color 0.3s; /* Transición para hover */

}



#centralbtn:hover,
#centralbtn:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 8px #ffffff, 0 0 15px #ffffff, 0 0 25px #ffffff; /* Aumenta las sombras */
  box-shadow: 0 0 10px #008cff, 0 0 30px #008cff, 0 0 60px #008cff, 0 0 120px #008cff; /* Más sombras para mayor efecto */
}

/* Info Section Styles */
.info {
  padding: 40px;
  background-color:white;
  text-align: center;
}

.info h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info p, .info ul {
  font-size: 18px;
  margin-bottom: 20px;
}

.info ul {
  list-style-type: none;
  padding: 0;
}












@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Open Sans", sans-serif;
}

main {
position: relative;
width: calc(min(90rem, 90%));
margin: 0 auto;
min-height: 100vh;
column-gap: 3rem;
padding-block: min(20vh, 3rem);
}

.bg {
position: fixed;
top: -4rem;
left: -12rem;
z-index: -1;
opacity: 0;
}

.bg2 {
position: fixed;
bottom: -2rem;
right: -3rem;
z-index: -1;
width: 9.375rem;
opacity: 0;
}

main > div span {
text-transform: uppercase;
letter-spacing: 1.5px;
font-size: 1rem;
color: #717171;
}

main > div h1 {
text-transform: capitalize;
letter-spacing: 0.8px;
font-family: "Roboto", sans-serif;
font-weight: 900;
font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
background-color: #005baa;
background-image: linear-gradient(45deg, #005baa, #000000);
background-size: 100%;
background-repeat: repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}

main > div hr {
display: block;
background: #005baa;
height: 0.25rem;
width: 6.25rem;
border: none;
margin: 1.125rem 0 1.875rem 0;
}

main > div p {
line-height: 1.6;
}

main a {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
color: #717171;
font-weight: 500;
background: #fff;
border-radius: 3.125rem;
transition: 0.3s ease-in-out;
}

main > div > a {
border: 2px solid #c2c2c2;
margin-top: 2.188rem;
padding: 0.625rem 1.875rem;
}

main > div > a:hover {
border: 0.125rem solid #005baa;
color: #005baa;
}


















