body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh;
    color: #fff;    
    background-color: rgb(17, 17, 43);
    padding-right: 100px; 
}


/* FONDO */

canvas {
    display: block;
    position: absolute; /* Permite posicionar el canvas */
    top: 0; /* Coloca el canvas en la parte superior */
    left: 0; /* Coloca el canvas en la parte izquierda */
    z-index: -1; /* Envía el canvas al fondo */
}

.login-container {
    display: flex;
    justify-content: right;
        align-items: center;
    width: 100%;
    height: 100%;
    position: relative; /* Asegúrate de que el formulario esté en el contexto adecuado */
    z-index: 1; /* Asegura que el formulario esté por encima del fondo */
}

.login-form {
    background-color: white;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #000;
    letter-spacing: 2px;
}

p {
    font-size: 14px;
    margin: 10px 0 30px;
    color: #666;
}

.input-box {
    margin-bottom: 20px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;
    color: #333;
    box-sizing: border-box;
}

.input-box input::placeholder {
    color: #ccc;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #1a2f87;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0f1e66;
}

p {
    font-size: 12px;
    color: #666;
}

p a {
    color: #1a2f87;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}


.content {
    position: relative;
    z-index: 1; 
    color: white; 
    text-align: center;
    padding: 20px;
}

.logo-container {
    position: fixed; /* Fija la posición respecto a la ventana del navegador */
    right: 55%; /* Posiciona la parte superior del elemento al 50% de la altura de la pantalla */
    top: 27%; 
}
