@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ********************************** */
/*             colores             */
/* ********************************** */
:root {
	--primary-color: #1f1f80 ;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}



.option-container {
  display: flex;
  flex-direction: row; /* Coloca las opciones en una fila horizontal */
  gap: 1rem; /* Espacio entre las opciones */
}




a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Usa el color de texto del elemento padre */
  padding: 0; /* Elimina cualquier padding */
  margin: 0; /* Elimina cualquier margen */
  border: none; /* Elimina cualquier borde */
  background: none; /* Elimina cualquier fondo */
  cursor: pointer; /* Cambia el cursor a pointer para indicar que es clickeable */
}






body {
	background-image: url("https://img.freepik.com/vector-gratis/fondo-monocromo-estilo-realista_52683-67242.jpg?t=st=1730732334~exp=1730735934~hmac=136f47362d5c3a4f8dc403c695e60500c47873f73ca5be5772ae809c51cfe90b&w=1800");
	background-size: cover;
	background-repeat: no-repeat;
}









.optioncoti {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #111;
  --hovered-color: rgb(6, 6, 162);
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.optioncoti p {
  margin: 0;
  position: relative;
  color: var(--primary-color);
}

.optioncoti::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.optioncoti p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Cotizador";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.optioncoti:hover::after {
  width: 100%;
}

.optioncoti:hover p::before {
  width: 100%
}





.optionmiperf {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #111;
  --hovered-color: rgb(6, 6, 162);
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.optionmiperf p {
  margin: 0;
  position: relative;
  color: var(--primary-color);
}

.optionmiperf::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.optionmiperf p::before {
  position: absolute;
  content: "Mi perfil";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.optionmiperf:hover::after {
  width: 100%;
}

.optionmiperf:hover p::before {
  width: 100%;
}





.optionpedid {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #111;
  --hovered-color: rgb(6, 6, 162);
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.optionpedid p {
  margin: 0;
  position: relative;
  color: var(--primary-color);
}

.optionpedid::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.optionpedid p::before {
  position: absolute;
  content: "Pedidos";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.optionpedid:hover::after {
  width: 100%;
}

.optionpedid:hover p::before {
  width: 100%;
}









.optionserv {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  --primary-color: #111;
  --hovered-color: rgb(6, 6, 162);
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.optionserv p {
  margin: 0;
  position: relative;
  color: var(--primary-color);
}

.optionserv::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.optionserv p::before {
  position: absolute;
  content: "Servicio Impresion 3D";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.optionserv:hover::after {
  width: 100%;
}

.optionserv:hover p::before {
  width: 100%;
}

















.logout-button {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  background: none;        /* Elimina el fondo */
  border: none;            /* Elimina el borde */
  padding: 0;              /* Elimina el relleno */
  margin: 0;               /* Elimina cualquier margen */
  cursor: pointer;         /* Mantén el cursor de puntero */
  color: #1c1c1c;          /* Color del texto */
  font-family: inherit;    /* Hereda la fuente del elemento padre */
  font-size: 1rem;         /* Ajusta el tamaño de la fuente */
  transition: color 0.3s ease;  /* Transición para el color */
}

.logout-button a {
  text-decoration: none;   /* Quita el subrayado */
  color: inherit;          /* Usa el color del padre */
}





.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}


 /* ********************************** */
/*             moving words             */
/* ********************************** */





  .loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 30px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    position: relative;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%
    );
    z-index: 20;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: var(--primary-color);
    animation: spin_4991 4s infinite;
  }
  
  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }