/* Reseteo de márgenes y padding */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Estilos del header */
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1%;
   background-color: #F2F2F2;
   font-size: 120%;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo del contenedor de la logo */
.logo-container {
   display: flex;
   align-items: center;
}

/* Estilo de la logo */
.logo {
   max-width: 40%;
}

/* Estilo del ícono del menú, oculto por defecto */
#menu-icon {
   display: none;
}

/* Estilos del contenedor de opciones en pantalla grande */
.contenedor-opciones {
   list-style-type: none;
   display: flex;
   gap: 1rem;
   align-items: center;
}

/* Estilos de los enlaces dentro del contenedor de opciones */
.contenedor-opciones li {
   position: relative;
}

.contenedor-opciones a {
   position: relative;
   display: flex;
   align-items: center;
   height: 40px;
   width: 150px;
   cursor: pointer;
   text-decoration: none;
   color: #323232;
   border: 2px solid #323232;
   border-radius: 10px;
   background-color: #eee;
   overflow: hidden;
   padding: 0 10px;
   transition: background-color 0.3s ease;
}

/* Estilo del texto y el icono */
.button__text {
   font-weight: 600;
   transition: all 0.3s;
   margin-left: 10px;
}

.button__icon {
   position: absolute;
   right: 0;
   height: 100%;
   width: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #dedede;
   transition: all 0.3s ease;
}

/* Ocultar el texto y centrar el icono al pasar el cursor sobre el enlace */
.contenedor-opciones a:hover .button__text {
   color: transparent;
   transform: translateX(-100%);
}

.contenedor-opciones a:hover .button__icon {
   width: 100%;
   background-color: #2d8cf0; /* Azul de hover */
   transform: translateX(0);
}

/* Estilo del botón del menú desplegable */
#menu-icon {
   display: block;
   border: 0;
   font-size: 24px;
   background-color: transparent;
   cursor: pointer;
   position: absolute;
   top: 16px;
   right: 16px;
}

/* Estilos del contenedor de opciones en el menú desplegable */
.contenedor-opciones {
   flex-direction: column;
   align-items: flex-start;
   gap: 4%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: #1c1c1c;
   padding: 16px;
   box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
   transform: translateX(100%);
   opacity: 0;
   visibility: hidden;
}

/* Mostrar el menú cuando se activa */
.contenedor-opciones.show-menu {
   transform: translateX(0);
   opacity: 1;
   visibility: visible;
}

/* Estilos de los enlaces en el menú desplegable */
.contenedor-opciones li {
   width: 100%;
   border-bottom: 1px solid #333; /* Línea separadora entre los elementos del menú */
}

.contenedor-opciones li:last-child {
   border-bottom: none; /* Elimina la línea en el último elemento */
}

.contenedor-opciones li a {
   color: #ececec;
   background-color: transparent;
   border: none;
   border-radius: 10px;
   width: 100%;
   justify-content: center;
   position: relative;
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 10px;
   text-decoration: none;
}
