.dropdown {
    cursor: pointer;
  }
  
  .arrow {
    font-size: 1.2em;
    margin-left: 10px;
  }
  
  .dropdown-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .dropdown:hover .arrow {
    transform: rotate(180deg);
  }
  
  .dropdown.active .expanded-content {
    display: block;
  }


  .flotantes {
    text-align: right;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
  }