.logo img { 
    width: 100px;
}



main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
}

.profile-container {
    background-color: #e0e0e0;
    padding: 30px; /* Ajusté el padding del formulario para que no sea tan grande */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #d1d1d1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #bbb;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
