body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }



.card {
	width: 50%; 
	padding: 40px; /* Espacio interno más amplio */
	background-color: #ececec; 
	border-radius: 15px; 
	backdrop-filter: blur(100px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	border: 1px solid #e0e0e0; /* Borde sutil */
	text-align: center; /* Centrar contenido */
	height: 50%; /* Altura máxima para que aparezca el scrollbar si es necesario */
    align-items: center;
}

.principaldiv {
	width: 50%;
	height: 500px;
	margin: 50px auto; /* Centrar el div y separarlo de los costados */
	padding: 40px; /* Espacio interno más amplio */
	background-color: #ececec; /* Color de fondo */
	border-radius: 15px; /* Bordes redondeados */
	backdrop-filter: blur(100px); /* Aplicar desenfoque al fondo */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	border: 1px solid #e0e0e0; /* Borde sutil */
	text-align: center; /* Centrar contenido */
	overflow-y: auto; /* Barra de desplazamiento vertical */
}
















h2 {
    color: #2c2c54;
    font-size: 1.5em;
    margin-bottom: 10px;
}



.printer-image {
    width: 200px;
    height: 200px;    border-radius: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #2c2c54;
    margin-bottom: 10px;


}

.description {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}


/* From Uiverse.io by biswacpcode */ 
.hacerpe {
    color: white;
    text-decoration: none;
    font-size: 25px;
    background-color:darkblue;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
    padding:10px;
    border-radius: 10px;
    
  }
  
  .hacerpe a
   {
    margin-left: 20px;
  
  
  }
  
  
  
  .hacerpe::before {
    margin-left: auto;
  
    
  }
  
  .hacerpe::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    transition: 0.5s;
    
    
  }
  
  .hacerpe:hover::after, button:hover::before {
    width: 100%;
  
  
  }








