.btn-conteiner {
 --color-text: #000000; /* Texto negro */
  --color-background: #fff;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
  display: inline-block;
  justify-content: flex-start;
padding: 40px 20px;
width: fit-content;

}
.btn-content {
  display: flex;
  align-items: end;
  padding: 7px 20px; /* Relleno del botón */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  font-size: 18px; /* Tamaño de la fuente */
  margin-left: 10px; /* Añade margen a la izquierda del botón */
  display: inline-flex; /* Para centrar el contenido */
  align-items: center; /* Centra verticalmente el contenido del botón */
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 10px; /* Ajusta el margen a la derecha dentro del botón */
  transform: scale(0.6);
}



.icon-arrow {
  width: 16px; /* Reduce el tamaño del SVG */
  margin-left: 5px; /* Menos margen a la izquierda dentro del botón */
  position: relative;
  top: 6%;
  fill: #000000; /* Flechas negras */
}

/* SVG */
#arrow-icon-one, #arrow-icon-two, #arrow-icon-three {
  transition: 0.4s;
  fill: #000000; /* Flechas negras */
}

/* SVG animations */
.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
      fill: black; /* Flechas negras */
  }
  50% {
      fill: var(--color-background);
  }
  100% {
      fill: black; /* Flechas negras */
  }
}


#volver{
margin-left: 15px;  
   
       }















       



.info {
  display: flex; /* Usar flexbox para alinear los campos uno al lado del otro */
  justify-content: space-between; /* Espacio entre los campos */
  margin-bottom: 10px; /* Espacio inferior para el contenedor */
}



.info label {
  font-size: 0.9em;
  font-weight: bold;
  color: #1a1a1a; /* Color de texto */
  margin-bottom: 2px; /* Espacio entre el label y la información */
}

.data-field {
  font-size: 0.85em;
  color: #666; /* Color de texto más claro */
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  padding: 5px; /* Espacio interior opcional */
  text-align: center; /* Centrar el texto dentro del campo de datos */
}








body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-color: rgb(17, 17, 43);
  color: white;
  overflow: hidden;
  height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}




.card {
  background: #fff;
  padding: 20px;
  width: 500px; /* Aumentado el ancho */
  max-width: 90%; /* Para que se ajuste en pantallas pequeñas */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-top: -90px;
  text-align: center;
}

.card-completa{
  display: flex;
  justify-content: center;
}






.title {
  font-size: 1.5em;
  font-weight: 500;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.printer-image {
  width: 80%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.description {
  text-align: left;
  margin-bottom: 10px;
}

.description label {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-bottom: 4px;
}

.description textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tab {
  flex: 1;
  padding: 8px;
  font-size: 0.9em;
  color: #fff;
  background-color: #1a1a1a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 5px;
}

.tab.active {
  background-color: #004080;
}

.tab:last-child {
  margin-right: 0;
}

.selectors {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9em;
  margin-right: 5px;
}

select:last-child {
  margin-right: 0;
}

.start-order {
  width: 100%;
  padding: 10px;
  background-color: #004080;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.start-order:hover {
  background-color: #002a5b;
}















   /* ********************************** */
/*             emergente             */
/* ********************************** */
.wrapper {
	width: 600px;
	background: rgb(2, 0, 36);
	backdrop-filter: blur(9px);
	color: #fff;
	border-radius: 12px;
	padding: 40px 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 1000;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
	max-height: 90%;
	overflow-y: auto;
}

/* ********************************** */
/*      Encabezado del Pop-up         */
/* ********************************** */
.popup-header {
	font-size: 36px;
	text-align: center;
}

/* ********************************** */
/*       Contenedor del Input         */
/* ********************************** */
.input-box {
	position: relative;
	width: 100%;
	height: 40px;
	margin: 30px 0;
	color: beige;
}

/* ********************************** */
/*       Estilos del Input y Select   */
/* ********************************** */
.input-box input, .input-box select {
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
	transition: border 0.3s ease, color 0.3s ease;
}

/* ********************************** */
/*   Estilo para Placeholder y Select */
/* ********************************** */
.input-box input::placeholder, .input-box select {
	color: #fff;
}

/* ********************************** */
/*     Estilo de las Opciones Select  */
/* ********************************** */
.input-box select option {
	background-color: rgb(2, 0, 36);
	color: #fff;
}

/* ********************************** */
/*      Estilo del Label flotante     */
/* ********************************** */
.input-box label {
	position: absolute;
	left: 10px;
	top: -30px;
	color: #fff;
}

   

  


.wrapper .btn {
	width: 100%;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
	color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.wrapper .btn:hover {
	background-color: rgba(255, 255, 255, 0.279);
}

   




    /* Fondo de pantalla oscurecido */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }





   
  


