@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/* ********************************** */
/*             colores             */
/* ********************************** */
:root {
	--primary-color: #1f1f80 ;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}


/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	padding: 3%
}


/* ********************************** */
/*             div principal             */
/* ********************************** */

.principaldiv {
	width: 80%;
	height: 500px;
	max-width: 1200px; /* Establecer un ancho máximo para pantallas grandes */
	margin: 50px auto; /* Centrar el div y separarlo de los costados */
	margin-top: -13px;
	padding: 40px; /* Espacio interno más amplio */
	background-color: #ececec; /* Color de fondo azul oscuro */
	border-radius: 15px; /* Bordes redondeados */
	backdrop-filter: blur(100px); /* Aplicar desenfoque al fondo */
	border-radius: 15px; /* Bordes redondeados */
	box-shadow: 0 100px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	border: 1px solid #e0e0e0; /* Borde sutil */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	border: 1px solid #e0e0e0; /* Borde sutil */
	text-align: center; /* Centrar contenido */
  }
  



  
  .principaldiv h2 {
	font-size: 2rem; /* Aumentar tamaño del título */
	color: black; /* Texto blanco para el título */
	margin-bottom: 20px;
  }
  
  .principaldiv p {
	font-size: 1.2rem; /* Aumentar tamaño del texto del párrafo */
	color: black; /* Texto gris claro */
  }
  

/* ********************************** */
/*            opciones de filtros            */
/* ********************************** */
.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 13px;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}


/* Aplica hover solo a los elementos con la clase "active" */
span.active:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* ********************************** */
/*             imprrsoras             */
/* ********************************** */

.perfilesDueños {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a nuevas líneas si no caben en una fila */
    justify-content: center; /* Centra las tarjetas en el contenedor */
    gap: 20px; /* Espacio entre las tarjetas */
    margin: 20px; /* Margen alrededor del contenedor */
}


.flip-card {
    background-color: transparent;
    width: 245px;
    height: 270px;
    perspective: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 2em;
    animation: borderAnimation 4s infinite;
}

@keyframes borderAnimation {
    0% {
        border: 4px solid #002b53;
    }
    50% {
        border: 4px solid #004080;
    }
    100% {
        border: 4px solid #002b53;
    }
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 2em;
    backface-visibility: hidden;
    background-color: #d3d3d3; /* Fondo gris claro */
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image {
    background-color: transparent;
    border: none;
    margin-top: 15px;
    border-radius: 5em;
    width: 120px;
    height: 120px;
}

.pfp {
    border-radius: 35em;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.name {
    margin-top: 15px;
    font-size: 27px;
    color: black; /* Nombre en negro */
    font-weight: bold;
}


.flip-card-back {
    background-color: #d3d3d3;
    transform: rotateY(180deg);
    padding: 20px;
}

.flip-card-back h4, .flip-card-back p {
    color: black;
    margin-bottom: 10px;
    font-size: 16px; /* Mismo estilo para todos los textos */
}

.printer-model {
    padding-top: 20px; /* Mayor separación con el borde */
}

.profile-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px; /* Botón más abajo */
}

.profile-button:hover {
    background-color: #001f40; /* Azul oscuro más profundo al pasar el mouse */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}




/* ********************************** */
/*             article             */
/* ********************************** */


/* Article PAra pedidos */
article {
    position: relative;
    width: 100%; /* Asegúrate de que ocupe el 100% del contenedor */
    height: 100%; /* Ocupar toda la altura disponible */
    transition: transform 0.3s ease;
    margin: 0; /* Elimina cualquier margen para que no haya espacio arriba */
    padding: 0; /* Elimina cualquier padding */
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    transition: filter 0.3s ease, transform 0.3s ease;
}

article img:last-child {
    position: absolute;
    width: 200px; /* Tamaño de la segunda imagen */
    bottom: 20px; /* Baja la segunda foto */
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

article:hover {
    transform: perspective(500px) translateZ(-50px) rotate(0deg) translateY(-5%);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0) 95%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

article:hover::before {
    opacity: 1;
}

article:hover img:first-child {
    filter: brightness(0.7); /* Oscurecer la primera imagen */
    transform: scale(1.3); /* Escala mayor para la primera imagen */
}

article:hover img:last-child {
    opacity: 1;
    transform: translateY(0%) scale(1.1); /* Aumentar el tamaño de la segunda imagen */
}


/* Evitar que el flip funcione al tocar el article */
article {
    pointer-events: none;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Evitar que la tarjeta se dé vuelta cuando el cursor pase por encima del article */
.flip-card:hover article {
    pointer-events: all;
    /* No se activa el efecto de rotación */
}

.flip-card:hover:not(:hover article) .flip-card-inner {
    transform: rotateY(180deg);
}


/* ********************************** */
/*             imagen             */
/* ********************************** */


img {
    width: 90%; /* Las imágenes ocuparán el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción original de las imágenes */
    border-radius: 15px; /* Bordes redondeados */
}


/* ********************************** */
/*             Buscador             */
/* ********************************** */


.input {
	position: center;
	border: 2px solid transparent;
	width: 60%;
	padding: 1%;
	height: 2.5em;
	padding-left: 0.8em;
	outline: none;
	overflow: hidden;
	background-color: #F3F3F3;
	border-radius: 10px;
	transition: all 0.5s;
margin-bottom: 30px;
  }
 /* ********************************** */
/*             emergente             */
/* ********************************** */

.wrapper {
	width: 600px;
	background: rgb(2, 0, 36);
	backdrop-filter: blur(9px);
	color: #fff;
	border-radius: 12px;
	padding: 40px 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 1000;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
	max-height: 90%;
	overflow-y: auto;
}

.popup-header {
	font-size: 36px;
	text-align: center;
}









.input-box {
	position: relative;
	width: 100%;
	height: 40px; /* Reducido */
	margin: 30px 0;
	color: beige;
}

.input-box input, .input-box select {
	width: 100%;
	height: 40px; /* Reducido */
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 14px; /* Reducido */
	color: #fff;
	padding: 10px 20px; /* Reducido */
	transition: border 0.3s ease, color 0.3s ease;
}

.input-box input::placeholder, .input-box select {
	color: #fff; /* Texto en blanco */
}

.input-box select option {
	background-color: rgb(2, 0, 36);
	color: #fff; /* Texto de opciones en blanco */
}

.input-box label {
    position: absolute;
    left: 10px; /* Alinea el label al inicio del input */
    top: -30px; /* Coloca el label por encima del input */;


}






/* Fondo oscuro detrás de la ventana emergente */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Más oscuro */
	z-index: 999;
	display: none;
}

.wrapper .btn {
	width: 100%;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.wrapper .btn:hover {
	background-color: #6e6e6e; /* Cambiar el color en hover a un tono más oscuro de gris */
}
