* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ececec;
}

.logo {
  max-width: 5rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      background-color: transparent;
      cursor: pointer;
  }

  .abrir-menu {
      color: #1c1c1c;
  }

  .cerrar-menu {
      color: #ececec;
  }

  .nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #1c1c1c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  .nav-list {
      flex-direction: column;
      align-items: end;
  }

  .nav-list li a {
      color: #ecececec;
  }
}
.principaldiv {
  width: 80%;
  height: 500px;
  max-width: 1200px; /* Establecer un ancho máximo para pantallas grandes */
  margin: 50px auto; /* Centrar el div y separarlo de los costados */
  padding: 40px; /* Espacio interno más amplio */
  background-color: #ececec; /* Color de fondo azul oscuro */
  border-radius: 15px; /* Bordes redondeados */
  backdrop-filter: blur(100px); /* Aplicar desenfoque al fondo */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 100px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: 1px solid #e0e0e0; /* Borde sutil */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: 1px solid #e0e0e0; /* Borde sutil */
  text-align: center; /* Centrar contenido */
}

.principaldiv h2 {
  font-size: 2rem; /* Aumentar tamaño del título */
  color: black; /* Texto blanco para el título */
  margin-bottom: 20px;
}

.principaldiv p {
  font-size: 1.2rem; /* Aumentar tamaño del texto del párrafo */
  color: black; /* Texto gris claro */
}


.tab-container {
  position: absolute; /* Posicionamos el contenedor de pestañas de manera absoluta */
  top: -50px; /* Distancia desde el div principal */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Corrección para que esté completamente centrado */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  background-color: #dadadb;
  border-radius: 9px;
}

.tab-container {
  position: absolute; /* Posicionamos el contenedor de pestañas de manera absoluta */
  top: -50px; /* Distancia desde el div principal */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Corrección para que esté completamente centrado */
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  background-color: #dadadb;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 0.75rem;
  opacity: 0.6;
  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}




/* From Uiverse.io by niat786 */
.aceptar {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

.aceptar:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}
