@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/* ********************************** */
/*             colores             */
/* ********************************** */
:root {
	--primary-color: #1f1f80 ;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}


/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	padding: 3%;

}

/* ********************************** */
/*            opciones de filtros            */
/* ********************************** */


.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 13px;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}



/* ********************************** */
/*             imagen             */
/* ********************************** */


img {
    width: 90%; /* Las imágenes ocuparán el 100% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción original de las imágenes */
    border-radius: 15px; /* Bordes redondeados */
}









/* ********************************** */
/*             Buscador             */
/* ********************************** */

.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	width: 100%; /* Ocupa todo el ancho del contenedor padre */
	margin-bottom: 40px;
	justify-content: center;


   }
   
   .input {
	width:80%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: .3s ease;
	margin: 30px;
   }
   
   .input::placeholder {
	color: #9e9ea7;
   }
   
   .input:focus, input:hover {
	outline: none;
	border-color: rgba(3, 36, 83, 0.4);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgba(36, 17, 84, 0.1);
   }
   
   .icon {
	position;
	left: 1rem;
	fill: #9e9ea7;
	width: 1rem;
	height: 1rem;
   }
   
   


  .buscarenter {
	background-color: var(--primary-color);
	color: white; /* Color del texto */
	padding: 5px 10px; /* Tamaño reducido del botón */
	border: none; /* Sin borde */
	border-radius: 4px; /* Bordes redondeados */
	font-size: 14px; /* Tamaño de la fuente reducido */
	font-weight: bold; /* Texto en negrita */
	cursor: pointer; /* Cursor cambia a mano */
	transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para efectos */
  }
  
  .buscarenter:hover {
	background-color:  rgb(71, 3, 230);
	transform: scale(1.05); /* Agranda ligeramente al hacer hover */
  }
  
  .buscarenter:active {
	transform: scale(0.95); /* Lo reduce ligeramente al hacer clic */
  }
  




  
   
   


  .top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}
  










/* ********************************** */
/*             div principal             */
/* ********************************** */

.principaldiv {
	width: 80%;
	height: 500px;
	max-width: 1200px; /* Establecer un ancho máximo para pantallas grandes */
	margin: 50px auto; /* Centrar el div y separarlo de los costados */
	margin-top: -13px;
	padding: 40px; /* Espacio interno más amplio */
	background-color: #ececec; /* Color de fondo */
	border-radius: 15px; /* Bordes redondeados */
	backdrop-filter: blur(100px); /* Aplicar desenfoque al fondo */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
	border: 1px solid #e0e0e0; /* Borde sutil */
	text-align: center; /* Centrar contenido */
	overflow-y: auto; /* Barra de desplazamiento vertical */
	max-height: 500px; /* Altura máxima para que aparezca el scrollbar si es necesario */
}

/* Personalización de la scrollbar */
.principaldiv::-webkit-scrollbar {
	width: 8px; /* Ancho de la barra de desplazamiento */
}

.principaldiv::-webkit-scrollbar-thumb {
	background-color: var(--primary-color); /* Color de la barra */
	border-radius: 10px; /* Bordes redondeados de la barra */
}

.principaldiv::-webkit-scrollbar-track {
	background-color: #e0e0e0; /* Color de fondo del track */
}

.principaldiv h2 {
	font-size: 2rem; /* Aumentar tamaño del título */
	color: black; /* Texto negro para el título */
	margin-bottom: 20px;
}

.principaldiv p {
	font-size: 1.2rem; /* Aumentar tamaño del texto del párrafo */
	color: black; /* Texto negro */
}






/* ********************************** */
/*             perfiles             */
/* ********************************** */



.card {
   display: flex;
   align-items: center;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   max-width: 600px;
   margin: 20px auto;
   font-family: Arial, sans-serif;
}

.printer-image {
   width: 100px;
   height: auto;
   margin-right: 20px;
}

.info {
   flex-grow: 1;
}

.info h2 {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
}

.info-link {
   display: inline-block;
   margin-top: 10px;
   color: #007bff;
   text-decoration: none;
   font-size: 14px;
}

.info-link:hover {
   text-decoration: underline;
}

/* Texto más pequeño para la información de la impresora, zona y post-impresión */
.stats {
    margin-top: 13px;
    font-size: 0px; /* Cambiado a un tamaño de fuente más pequeño */
    color: #555;
}

.stats span {
   margin-right: 15px;
}

.favorite {
   margin-left: 20px;
}



/* ********************************** */
/*             imagen             */
/* ********************************** */

img {
    width: 90%; /* Las imágenes ocuparán el 90% del ancho de su contenedor */
    height: auto; /* Mantiene la proporción original de las imágenes */
    border-radius: 15px; /* Bordes redondeados */
}



/* ********************************** */
/*             Buscador             */
/* ********************************** */

.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	width: 100%; /* Ocupa todo el ancho del contenedor padre */
	margin-bottom: 40px;
	margin-top: 10px;
	justify-content: center;



   }
   
   .input {
	width:80%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: .3s ease;
   }
   
   .input::placeholder {
	color: #9e9ea7;
   }
   
   .input:focus, input:hover {
	outline: none;
	border-color: rgba(3, 36, 83, 0.4);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgba(36, 17, 84, 0.1);
   }
   
 
   




   /* ********************************** */
/*             emergente             */
/* ********************************** */
.wrapper {
	width: 600px;
	background: rgb(2, 0, 36);
	backdrop-filter: blur(9px);
	color: #fff;
	border-radius: 12px;
	padding: 40px 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 1000;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
	max-height: 90%;
	overflow-y: auto;
}

/* ********************************** */
/*      Encabezado del Pop-up         */
/* ********************************** */
.popup-header {
	font-size: 36px;
	text-align: center;
}

/* ********************************** */
/*       Contenedor del Input         */
/* ********************************** */
.input-box {
	position: relative;
	width: 100%;
	height: 40px;
	margin: 30px 0;
	color: beige;
}

/* ********************************** */
/*       Estilos del Input y Select   */
/* ********************************** */
.input-box input, .input-box select {
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
	transition: border 0.3s ease, color 0.3s ease;
}

/* ********************************** */
/*   Estilo para Placeholder y Select */
/* ********************************** */
.input-box input::placeholder, .input-box select {
	color: #fff;
}

/* ********************************** */
/*     Estilo de las Opciones Select  */
/* ********************************** */
.input-box select option {
	background-color: rgb(2, 0, 36);
	color: #fff;
}

/* ********************************** */
/*      Estilo del Label flotante     */
/* ********************************** */
.input-box label {
	position: absolute;
	left: 10px;
	top: -30px;
	color: #fff;
}

   

  


.wrapper .btn {
	width: 100%;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 10px;
	color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.wrapper .btn:hover {
	background-color: rgba(255, 255, 255, 0.279);
}

   
  









   


/* ********************************** */
/*    boton aceptar  */
/* ********************************** */



/* From Uiverse.io by niat786 */
.aceptar {
	border: none;
	color: #fff;
	background-image: linear-gradient(30deg, #008000, #2e8b57); /* Verde más oscuro */
	border-radius: 20px;
	background-size: 100% auto;
	font-family: inherit;
	font-size: 14px; /* Tamaño más pequeño */
	padding: 0.4em 1em; /* Tamaño reducido */
	margin: 15px;
	justify-content: center;
}
  
  .aceptar:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: pulse512 1.5s infinite;
  }
  
  @keyframes pulse512 {
	0% {
	  box-shadow: 0 0 0 0 #05bada66;
	}
  
	70% {
	  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}
  
	100% {
	  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
  }
  


/* ********************************** */
/*    Botón rechazar  */
/* ********************************** */


/* From Uiverse.io by niat786 */
.rechazar {
	border: none;
	color: #fff;
	background-image: linear-gradient(30deg, #ff0000, #b22222); /* Rojo más oscuro */
	border-radius: 20px;
	background-size: 100% auto;
	font-family: inherit;
	font-size: 14px; /* Tamaño más pequeño */
	padding: 0.4em 1em; /* Tamaño reducido */
	margin: 15px;
justify-content: center;
}
  
  .rechazar:hover {
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: pulse512 1.5s infinite;
  }
  
  @keyframes pulse512 {
	0% {
	  box-shadow: 0 0 0 0 #b2222266;
	}
  
	70% {
	  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}
  
	100% {
	  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
  }
  