body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: flex-start; /* Mover el formulario hacia la izquierda */
    align-items: center;
    height: 100vh;
    background-color: rgb(17, 17, 43);
    color: white;
    overflow-x: hidden; /* Eliminar desplazamiento horizontal */
    padding-left: 100px; /* Ajustar espacio a la izquierda */
}

.registro-container {
    display: flex;
    justify-content: flex-start; /* Mover el formulario hacia la izquierda */
    align-items: center;
    width: 100%;
    max-width: 500px; /* Ancho máximo del formulario */
    height: 100%;
}

.scrollable-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: black transparent;
    scrollbar-width: thin;
    margin: 0; /* Eliminar margen */
}

.scrollable-container::-webkit-scrollbar {
    width: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: black; /* Cambiar a negro */
    border-radius: 10px;
}

.registro-form {
    background-color: white;
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px; /* Ancho máximo del formulario */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -100px; /* Ajustar el formulario más a la izquierda */
}


h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #000;
    letter-spacing: 2px;
}

p {
    font-size: 14px;
    margin: 10px 0 20px; /* Ajuste del margen */
    color: #666;
}

.input-box {
    width: 100%;
    margin-bottom: -10px; 
}

.input-box input,
.input-box select {
    width: 400px; 
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;
    color: #333;
    box-sizing: border-box;
}

.input-box input::placeholder,
.input-box select {
    color: #ccc;
}

button {
    width: 400px; /* Mantener el tamaño original del botón */
    padding: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #1a2f87;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 0px;
}

button:hover {
    background-color: #0f1e66;
}

p {
    font-size: 12px;
    color: #666;
}

p a {
    color: #1a2f87;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

.logo-container {
    position: fixed;
    right: 55%;
    top: 27%; 
}

